*, *::before, *::after{
    box-sizing:border-box;
}

body{
    font-family:"DM Sans", sans-serif;
    font-weight:400;
    background-color:#fff;
    color: rgb(24, 24, 27);
    margin:0;
    padding:0;
}

img{
    display:block;
    max-width:100%;
}

li,
ul{
    padding:0;
    margin:0;
    list-style:none;
}

a{
    text-decoration:none;
    color:inherit;
}

h1,
h2, 
h3, 
h4,
h5{
    font-family: "Syne", sans-serif;
    font-weight:600;
}

button,
a{
    font-family:"JetBrains Mono", monospace;
}

input,
textarea {
    appearance: none;
    -webkit-appearance: none;
    outline:none;
}








