/* header */
body.menu-open{
    overflow:hidden;
}

.header-section{
    position:fixed;
    left:0;
    right:0;
    background-color:rgba(255, 255, 255, 0.9);
    height:90px;
    z-index:100;
    backdrop-filter: blur(12px);
}

.header-section__container{
    display:grid;
    grid-template-columns:auto 1fr auto;
    align-items:center;
    padding:0 1.2em;
    height:100%;
    max-width:1280px;
    margin:0 auto;
}

.header-section__cart-link,
.header-section__secondary-nav,
.hero-section__primary-cta,
.categories__link,
.shop-products__filter-btn{
    display:flex;
    align-items:center;
    gap:0.5rem;
}

.header-section__secondary-nav{
    gap:.5rem;
    justify-self:end;
}

.mobile-menu{
    display:flex;
    position:fixed;
    flex-direction:column;
    gap:1.9rem;
    top:0;
    height:100dvh;
    right:0;
    width:70vw;
    overflow-y: auto;
    max-width:380px;
    background-color:#fff;
    z-index:999;
    padding:1.2em 0;
    transform:translateX(100%);
    transition:transform 0.3s ease;
}

.mobile-menu.is-active{
    transform:translateX(0);
}

.mobile-menu__top-row{
    padding:0 1.2em;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-bottom:1.2em;
}

.mobile-menu__primary-list,
.mobile-menu__secondary-list{
    display:flex;
    flex-direction:column;
    gap:.3rem;
}

.mobile-menu__secondary-group{
    display:flex;
    flex-direction:column;
    gap:1.9rem;
    margin-top:auto;
    border-top:1px solid rgba(0, 0, 0, 0.1);
}

.mobile-menu__cta{
    padding:0 1.2em;
}

.search-overlay{
    visibility: hidden;
    opacity:0;
    pointer-events:none;
    position:fixed;
    inset:0;
    background:rgb(244, 244, 245);
    height:100vh;
    z-index:999;
    transform:translateY(-24px);
    transition:
    transform 0.65s cubic-bezier(0.22, 1, 0.36, 1), 
    opacity 0.45s ease;
}

.search-overlay.active{
    opacity:1;
    visibility: visible;
    transform:translateY(0);
    pointer-events:auto;
}

.search-overlay__search-group{
    display:flex;
    flex-direction:column;
    gap:3rem;
}

.search-overlay__field{
    position:relative;
    display:flex;
    align-items:center;
    padding:.9em 0;
    border-bottom:1px solid #A8A9AD;
}

.search-overlay__header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-inline:1em;
    height:44px;
    background-color:rgb(250, 245, 237);
}

.search-overlay__content{
    display:flex;
    flex-direction:column;
    gap:3.5rem;
    padding:0 1em;
    height:100%;
    padding-top:3em;
    overflow-y:auto;
}

.search-overlay__suggestions,
.search-overlay__categories,
.testimonials-section__content{
    display:flex;
    flex-direction:column;
    gap:1.25rem;
}

.search-overlay__suggestions-lists{
    display:flex;
    align-items:center;
    gap:.9em;
    flex-wrap:wrap;
}

.search-overlay__categories-lists{
    display:flex;
    flex-direction:column;
    gap:1.25rem;
}

.search-overlay__categories-link{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-bottom:.5em;
}

.search-overlay__image-wrapper,
.best-sellers__sortings-title,
.product-sortings__title{
    display:none;
}

.hero-section,
.shop-dflex{
    position:relative;
    padding:110px 1.2em 0 1.2em;
    z-index:2;
    max-width:1280px;
    margin:0 auto;
}

.hero-section__content-wrapper{
    display:flex;
    flex-direction:column;
    gap:3.5rem;
}

.hero-section__season-tag-container,
.product-card__meta-row{
    display:flex;
    align-items:center;
    gap:1rem;
}

.hero-section__content,
.hero-section__btn-wrapper,
.categories__header,
.promotional-section__content{
    display:flex;
    flex-direction:column;
    gap:0.75rem;
}

.hero-section__btn-wrapper{
    gap:0.8rem;
}

.hero-section__img-wrapper{
    position:relative;
}

.hero-section__img-promotion{
    display:flex;
    position:absolute;
    bottom:-15px;
    left:-10px;
    width:280px;
    flex-direction:column;
    gap:.68rem;
    background-color:#fff;
    box-shadow:0 20px 50px rgba(0, 0, 0, 0.18);
    padding:1.5em;
}

.hero-section__img-label{
    display:flex;
    flex-direction:column;
    gap:.6rem;
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
    padding-bottom:.7em;
}

.hero-section__img-row,
.product-card__info-wrapper{
    display:flex;
    justify-content:space-between;
}

.marquee-section{
    width:100%;
    max-width:1280px;
    margin:0 auto;
    margin-top:3em;
    padding:1em 1.2em;
    overflow:hidden;
    border-top:1px solid rgba(0, 0, 0, 0.1);
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
}

.marquee-content,
.marquee-section{
    display:flex;
    align-items:center;
    white-space:nowrap;
}

.marquee-content{
    gap:1rem;
}

.marquee-track{
    display:flex;
    align-items:center;
    gap:1rem;
    animation:marquee-scroll 25s linear infinite;
}

@keyframes marquee-scroll {
  from{
    transform:translateX(0);
  }

  to{
    transform:translateX(-50%);
  }
}

#categories,
.best-sellers,
.editorial-section,
.promotional-section,
.testimonials-section,
.footer-section__dflex,
.footer-section__legal,
.footer-section{
    max-width:1280px;
    margin:0 auto;
    padding:5em 1.2em;
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
}

.categories__header{
    margin-bottom:2.9em;
}

.categories__img-grid{
    display:grid;
    gap:clamp(1.5rem, 3vw, 2.5rem);
}

.categories__img-wrapper{
    display:grid;
    place-items:center;
}

.categories__img-label{
    display:flex;
    justify-content:center;
    position:absolute;
    background-color:#fff;
    bottom:clamp(16px, 3vw, 32px);
    width:80%;
    padding:1.5em;
    transition:background-color 0.3s ease;
}

.best-sellers,
.best-sellers__row,
.testimonials-section__dflex{
    display:flex;
    flex-direction:column;
    gap:1.5rem;
}

.best-sellers__row{
    padding:1em 0;
    gap:.7rem;
}

.best-sellers__label,
.product-sortings__label{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0;
    padding-bottom:.4em;
}

.best-sellers__sortings-lists.active,
.product-sortings__lists.active{
    display:flex;
}

.best-sellers__down-arrow,
.product-sortings__down-arrow,
.product-card__meta,
.product-card__wishlist-icon{
    display:flex;
    align-items:center;
}

.best-sellers__sortings-wrapper,
.product-sortings__wrapper{
    position:relative;
}

.best-sellers__sortings-lists,
.product-sortings__lists{
    position:absolute;
    display:none;
    flex-direction:column;
    width:100%;
    white-space:nowrap;
    top:40px;
    right:0;
    gap:.1rem;
    background:#fff;
    border:1px solid #000;
    z-index:50;
}

.best-sellers__sortings-list-btn,
.product-sortings__list-btn{
    width:100%;
    text-align:start;
    padding:.6em .5em;
}

.best-sellers__product-grid,
.shop-products__grid{
    display:grid;
    gap:2rem;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    padding-top:1em;
}

.product-card__container,
.editorial-section__content{
    display:flex;
    flex-direction:column;
    gap:1.2rem;
}

.product-card__img-wrapper{
    position:relative;
    aspect-ratio: 1 / 1;
    overflow:hidden;
}

.product-card__cart-btn{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:.5rem;
    cursor:pointer;
    position:absolute;
    width:100%;
    left:0;
    right:0;
    bottom:0;
    height:48px;
    text-transform:uppercase;
    color:#fff;
    background-color:rgb(24, 24, 27);
    border:none;
}

.product-card__img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:transform 0.4s ease-in-out;
}

.product-card__info-wrapper{
    align-items:center;
}

.product-card__info{
    display:flex;
    flex-direction:column;
    gap:.45rem;
    max-width:12rem;
    min-width:0;
}

.product-card__meta{
    gap:.2rem;
}

.product-card__wishlist-add{
    position:absolute;
    display:flex;
    align-items:center;
    justify-content:center;
    right:14px;
    top:14px;
    border:none;
    touch-action:manipulation;
    padding:.69em .7em;
    color:rgb(24, 24, 27);
}

.editorial-section{
    border-bottom:none;
}

.editorial-section__dflex{
    display:flex;
    flex-direction:column;
    gap:3rem;
}

.editorial-section__brand-stats{
    display:flex;
    flex-direction:column;
    gap:1.3rem;
}

.editorial-section__supporting-text{
    padding-bottom:1em;
}

.editorial-section__imgs{
   display:grid;
   grid-template-columns:1fr 1fr;
   gap:1rem;
}

.editorial-section__img-wrapper{
    aspect-ratio:4 / 6;
    overflow:hidden;
}

.editorial-section__img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.editorial-section__img-wrapper:last-child{
    grid-column:1 / -1;
    transform:translateY(3.8rem);
}

.editorial-section__img-wrapper:nth-child(2){
    transform:translateY(2.5rem);
}

.promotional-section__dflex,
.testimonials-section,
.footer-section__content,
.footer-section__dflex,
.footer-section__nav-items,
.footer-section__legal,
.footer-section__navs,
.footer-section__nav-content,
.footer-section__contact{
    display:flex;
    flex-direction:column;
    gap:1.7rem;
}

.promotional-section{
    border-bottom:none;
    background-color:rgb(24, 24, 27);
    margin-top:2.9em;
}

.promotional-section__content{
    gap:.7rem;
}

.promotional-section__subscription-block{
    display:flex;
    flex-direction:column;
    gap:2em;
    border:0.5px solid #3e3e3e;
    padding:1.4em 1em;
}

.promotional-section__input{
    width:100%;
    padding:.8em 0;
}

.promotional-section__subscribe-btn{
    margin-top:1.5em;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    height:48px;
}

.testimonials-section{
    gap:2.2rem;
    border-bottom:none;
}

.testimonials-section__content{
    gap:1.1rem;
}

.footer-section{
    padding:0;
    border:none;
}

.footer-section__logo-wrapper{
    overflow:hidden;
    background-color:rgb(24, 24, 27);
    width:100%;
    padding-top:15px;
}

.footer-section__dflex{
    padding-top:2em;
    padding-bottom:4em;
    gap:1.9rem;
}

.footer-section__navs{
    gap:2rem;
}

.footer-section__nav-dflex{
    display:grid;
    grid-template-columns:1fr 1fr;
    row-gap:2.5rem;
}

.footer-section__nav-content,
.footer-section__contact{
    gap:.9rem;
}

.footer-section__content{
    gap:.83rem;
}

.footer-section__social-links{
    display:flex;
    gap:1rem;
}

.footer-section__contact-link{
    border-bottom:0.5px solid rgba(0, 0, 0, 0.1);
    padding-bottom:.25em;
}

.footer-section__nav-title,
.footer-section__contact-title,
.footer-section__copyright,
.footer-section__policy,
.footer-section__terms{
    margin:0;
}

.footer-section__nav-items{
    gap:1rem;
}

.footer-section__legal{
    padding-top:1.5em;
    padding-bottom:2.5em;
}

.footer-section__legal{
    gap:.79rem;
}

.footer-section__legal-dflex{
    display:flex;
    align-items:center;
    gap:1.8rem;
}

.shop-dflex{
    padding-bottom:5em;
}

.shop-filters.is-active{
    transform:translateX(0);
    z-index:1000;
} 

.shop-filters{
    display:flex;
    flex-direction:column;
    gap:1.5rem;
    position:fixed;
    top:90px;
    left:0;
    height:calc(100dvh - 90px);
    width:60vw;
    max-width:300px;
    overflow-y: auto;
    background-color:#fff;
    padding:1.2em 1.2em;
    transform:translateX(-100%);
    transition:transform 0.3s ease;
    box-shadow:  0 4px 6px rgba(0, 0, 0, 0.05),
    0 12px 24px rgba(0, 0, 0, 0.10);
}

.shop-filters__text{
    margin:0;
}

.shop-filters__header,
.shop-products__row-dflex{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.shop-filters__section-title,
.shop-filters__options{
    margin:0;
}

.shop-filters__section,
.shop-filters__options{
    margin-top:0.875rem;
    display:flex;
    flex-direction:column;
    gap:0.75rem;
}

.shop-filters__options{
    gap:0.625rem;
}

.shop-filters__category-label,
.shop-filters__price-label,
.shop-filters__size-label{
    display:flex;
    align-items:center;
    gap:0.5rem;
}

.shop-filters__input{
    position:absolute;
    width:1px;
    height:1px;
    opacity:0;
}

.cb__svg{
    width:24px;
    height:24px;
    display:block;
}

.shop-title{
    margin:0;
}

.shop-products__row-dflex{
    margin-bottom:1.75em;
}

.shop-products__filter-btn{
    background-color:transparent;
    border:1px solid rgb(24, 24, 27);
    padding:.75em 1em;
    border-radius:12px;
}

.product-sortings__wrapper{
    margin-bottom:40px;
}

.about__hero-section,
.about__story,
.about__decision,
.about__founder-section,
.about__belief{
    position:relative;
    padding:0 1.2em;
    z-index:2;
}

.about-container{
    display:flex;
    flex-direction:column;
    gap:3rem;
    max-width:1280px;
    margin:0 auto;
}

.about__hero-section{
    padding:8.9em 1.2em 2em 1.2em;
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
    margin-bottom:1rem;
}

.about__hero-text,
.about__section-title,
.about__subtitle{
    margin:0;
}

.about__story-intro,
.about__decision-intro,
.about__story-content,
.about__founder-section{
    display:flex;
    flex-direction:column;
    gap:1.5rem;
}

.about__story-content{
    gap:1.5rem;
}

.about__story-img-wrapper,
.about__decision-img-wrapper{
    margin-top:2em;
    width:100%;
    aspect-ratio:4 / 5;
}

.about__story-img,
.about__decision-img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.about__subtitle{
    margin-bottom:0.75em;
}

.about__section-title{
    margin-bottom:0em;
}

.about__belief{
    padding-top:4em;
    padding-bottom:4em;
}

.belief-mb{
    margin-bottom:1.7em;
}

.about__belief-card + .about__belief-card{
    margin-top:2.9em;
}

.about__belief-card{
    border-top:1px solid rgba(0, 0, 0, 0.1);
    padding-top:2.5em;
}

.about__founder-section{
    margin-bottom:5.5em;
}

.about__founder-img-wrapper{
    width:100%;
    aspect-ratio:4/5;
}

.about__founder-img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.about__founder-title{
    margin-bottom:2rem;
}

.about__story-text,
.about__decision-text,
.about__belief-text,
.about__founder-text{
    margin-top:0;
    margin-bottom:0;
}

.about__founder-signature{
    margin-bottom:.32em;
}

.about__founder-text{
    margin-bottom:1.2em;
}
