/* header */
@media(max-width:380px){
    .hero-section__title{
        font-size:2.8rem;
    }

    .hero-section__season-tag-volume,
    .hero-section__season-tag{
        font-size:0.59rem;
    }

    .header-section__brand-link{
        font-size:16px;
    }

    .header-section__secondary-nav{
        gap:.4rem;
    }

    .header-section__cart-link{
        padding:0.45em 0.85em;
    }
}

@media(hover: hover){
    .product-card__cart-btn{
        opacity:0;
        transform:translateY(10px);
        transition:opacity 0.25s ease, transform 0.2s ease, background-color 0.2s ease;
        pointer-events:none;
    }

    .product-card__container:hover .product-card__cart-btn{
        transform:translateY(0);
        opacity:1;
        pointer-events:auto;
    }

    .product-card__container:hover .product-card__img{
        transform:scale(1.04);
    }

    .product-card__cart-btn:hover{
        background-color:rgb(160, 25, 55);
    }

    .product-card__wishlist-add{
        cursor:pointer;
        transition:color 0.2s ease;
    }

    .product-card__wishlist-add:hover{
        color:rgb(160, 25, 55);
    }

    .promotional-section__subscribe-btn:hover{
        background-color:rgb(24, 24, 27);
        color:white;
        border:1px solid #fff;
    }

    .footer-section__nav-link:hover{
        color:rgb(160, 25, 55);
    }

    .footer-section__contact-link:hover{
        border-bottom:0.5px solid rgb(160, 25, 55);
        color:rgb(160, 25, 55);
    }

    .footer-section__social-link{
        transition:transform 0.2s ease;
    }

    .footer-section__social-link:hover{
        transform:scale(1.1);
    }
}

@media(min-width:638px){
    .header-section__brand-link-full,
    .mobile-menu__brand-link-full{
        display:inline-flex;
        font-family:"Syne", sans-serif;
        font-size:20px;
        font-weight:700;
        letter-spacing:0.02rem;
        line-height:1.1;
        text-transform:uppercase;
    }

    .header-section__brand-link,
    .mobile-menu__brand-link{
        display:none;
    }

    .header-section__tooltip{
        position:absolute;
        display:inline-flex;
        pointer-events:none;
        color:#fff;
        font-size:13px;
        font-weight:400;
        left:50%;
        transform:translateX(-50%);
        bottom:-50px;
        font-family:"JetBrains Mono", monospace;
        background-color:rgb(17, 17, 17);
        padding:.5em 1em;
        border:1px solid rgb(229, 231, 235);
        opacity:0;
        z-index:999;
    }

    .header-section__search-icon:hover .header-section__tooltip,
    .header-section__cart-link:hover .header-section__tooltip{
        opacity:1;
    }

    .hero-section__title{
        font-size:5.5rem;
    }

    .hero-section__primary-cta,
    .hero-section__secondary-cta{
        padding:1.5em 1.6em;
        transition:background-color, color 0.3s ease;
    }

    .hero-section__primary-cta:hover{
        background-color:rgb(160, 25, 55);
    }

    .hero-section__secondary-cta:hover{
        background-color:rgb(24, 24, 27);
        color:#fff;
    }

    .hero-section__btn-wrapper{
        flex-direction:row;
        gap:.95rem;
    }

    .hero-section__img{
        height:95vh;
    }

    .marquee-label{
        font-size:1.4rem;
        font-weight:600;
    }

    .marquee-icon{
        font-size:30px;
    }

    .categories__title,
    .best-sellers__title,
    .editorial-section__title,
    .promotional-section__title,
    .testimonials-section__title{
        font-size: 2.8rem;
    }

    .categories__img-grid{
        grid-template-columns:1fr 1fr;
    }

    .categories__img-wrapper:last-child{
        grid-column:1 / -1;
        aspect-ratio:16 / 11;
    }

    .categories__img-wrapper{
        aspect-ratio:4/6;
    } 

    .categories__img-label:hover{
        background-color:rgb(24, 24, 27);
        color:#fff;
    }

    .best-sellers__row{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        align-items:center;
    }

    .best-sellers__sortings{
        display:flex;
        flex-direction:row;
        align-items:center;
        gap:.6rem;
    }

    .best-sellers__sortings-title,
    .product-sortings__title{
        display:flex;
    }

    .best-sellers__sortings-lists,
    .product-sortings__lists{
        width:fit-content;
    }

    .best-sellers__sortings-list-btn,
    .product-sortings__list-btn{
        padding-right:.7em;
    }

    .editorial-section__dflex{
        gap:4rem;
    }

    .editorial-section__supporting-text-wrapper{
        border-bottom:1px solid rgba(0, 0, 0, 0.1);
        padding-bottom:1.5em;
    }

    .editorial-section__brand-stats-item{
        width:35%;
    }

    .editorial-section__brand-stats{
        flex-direction:row;
        gap:2rem;
        padding-top:1em;
    }

    .editorial-section__img-wrapper:nth-child(2){
        transform:translateY(3.8rem);
    }

    .editorial-section__img-wrapper:last-child{
        aspect-ratio:4 / 4;
        grid-column:1 / -1;
        transform:translateY(5.8rem);
    }

    .editorial-section__supporting-text,
    .promotional-section__text{
        font-size:1rem;
    }

    .promotional-section{
        margin-top:6em;
        padding-top:6em;
        padding-bottom:6em;
    }

    .promotional-section__text{
        max-width:40ch;
    }

    .promotional-section__subscribe-btn{
        margin-top:2em;
    }

    .promotional-section__subscription-info{
        margin-top:2em;
    }

    .promotional-section__subscription-block{
        padding-top:2em;
        padding-bottom:2em;
    }

    .testimonials-section__text{
        font-size:1.3rem;
        font-weight:400;
    }

    .footer-section__logo-text{
        font-size:38.46vw;
        height:100%;
    }

    .footer-section__content{
        gap:1.2rem;
    }

    .footer-section__nav-items{
        gap:1.2rem;
    }

    .footer-section__nav-dflex{
        grid-template-columns:1fr 1fr 1fr;
    }
}


@media(min-width:800px){
    .header-section__primary-nav{
        display:flex;
        justify-self:center;
    }

    .header-section__nav-list{
        display:flex;
        align-items:center;
        gap:2rem;
    }

    .header-section__menu-toggle{
        display:none;
    }

    .header-section__wishlist-link{
        position:relative;
        padding:0.0625em 0.375em;
        border:none;
        background:inherit;
        color:#000;
        display:flex;
        align-items:center;
    }

    .header-section__wishlist-link:hover .header-section__tooltip{
        opacity:1;
    }

    .header-section__cart-link{
        padding:.75em 1em;
    }

    .header-section__cart-text{
        display:inline-flex;
        color:#fff;
        font-size:0.875rem;
        font-family:"JetBrains Mono", monospace;
        text-transform:uppercase;
    }

    .search-overlay__content{
        flex-direction:row;
        max-width:1300px;
        margin:0 auto;
        height:80vh;
    }

    .search-overlay__image-wrapper{
        display:block;
        flex:1;
        max-width:600px;
        filter:contrast(0.95);
    }

    .search-overlay__image{
        width:100%;
        height:100%;
        object-fit:cover;
        border-radius:10px;
    }

    .search-overlay__search-group{
        flex:1.2;
        max-width:600px;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .search-overlay__content{
        overflow-y:hidden;
    }

    .hero-section__title{
        font-size:7rem;
    }

    .categories__header{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
    }

    .categories__img-wrapper:last-child{
        grid-column:auto;
        height:100%;
    }

    .categories__img-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .categories__img-wrapper{
        aspect-ratio:3 / 3;
        gap:1.2rem;
    }

    .editorial-section__imgs{
        gap:2rem;
    }

    .promotional-section__dflex{
        flex-direction:row;
        justify-content:space-between;
    }

    .promotional-section__subscription-block{
        align-self:center;
    }

    .testimonials-section__dflex{
        flex-direction:row;
        justify-content:space-between;
        gap:3rem;
    }

    .testimonials-section__text{
        max-width:38ch;
    }

    .footer-section__legal{
        flex-direction:row;
        justify-content:space-between;
        align-items:center;
    }

}

@media(min-width:1024px){
    .header-section__secondary-nav{
        gap:1.5rem;
    }

    .hero-section__content-wrapper{
        flex-direction:row;
        justify-content:space-between;
    }

    .hero-section__content{
        flex:0 0 auto;
        gap:2rem;
    }

    .hero-section__img-wrapper{
        flex:0 0 440px;       
    }

    .hero-section__img{
        height:100%;
    }

    .categories__title,
    .best-sellers__title,
    .editorial-section__title,
    .promotional-section__title,
    .testimonials-section__title{
        font-size: 4rem;
    }

    .editorial-section__supporting-text,
    .promotional-section__text{
        font-size:1.1rem;
    }

    .editorial-section__dflex{
        flex-direction:row;
    }

    .editorial-section__content{
        margin-top:15rem;
        flex:0 0 500px; 
    }

    .editorial-section__imgs{
        margin-top:5rem;
        flex:1 1 auto;
        gap: 2rem;
    }

    .editorial-section__img-wrapper:last-child{
        grid-column:1 / -1;
        aspect-ratio:4 / 2;
    }

    .editorial-section__img-wrapper{
        aspect-ratio:4 / 5;
        overflow:hidden;
    }

    .footer-section__dflex{
        flex-direction:row;
    }

    .footer-section__content{
        flex:1 1 500px;
    }
}
